@model List<Broker>
@{
    string companyName = ViewData["CompanyName"].ToString();

    ViewData["Title"] = $"Brokers in Company \"{companyName}\"";
}

<h2 class="d-inline-block mb-4">Brokers in company "@companyName"</h2>

@if (Model.Count == 0)
{
    <p>There are no brokers.</p>
}
else
{
    <table id="brokers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center align-middle">First Name</th>
                <th class="text-center align-middle">Last Name</th>
                <th class="text-center align-middle"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var broker in Model)
            {
                <tr>
                    <td class="text-center align-middle">@broker.FirstName</td>
                    <td class="text-center align-middle">@broker.LastName</td>
                    <td class="text-center align-middle">
                        @Html.ActionLink("Show apartments", "ApartmentsOfBroker", "Apartments", new { brokerId = broker.Id, brokerName = broker.ToString() })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}